<div class = "container">
  <div class="page-title">
    <h4>予定一覧</h4>
    <%= link_to "新規追加", :new_post %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
      </tr>
    </thead>

    <tbody>
    <% @posts.each do |post| %>
      <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.start_day.strftime("%Y/%m/%d") %></td>
      <td><%= post.end_day.strftime("%Y/%m/%d")%></td>
      <% if(post.all_day)%>
        <td>○</td>
      <% else %>
        <td></td>
    <% end %>
    <td><%= post.created_at.strftime("%Y/%m/%d %H:%M")  %></td>
    <td><%= link_to "参照",post %></td>
    <td><%= link_to "編集",[:edit,post]%></td>
    <td><%= link_to "削除",post, method: :delete, data: { confirm: "本当に削除しますか？" }%></td>
    </tr>
  </tr>
  <% end %>
</tbody>
</table>
<div class = "footer">
  <p class = "footer-count">
  予定合計数：<%= Post.count%>件
  </p>
  <p class = "footer-today">
  本日の日付 <%= Date.today.strftime("%Y/%m/%d")%>
  </p>
</div>

</div>