
<div class = "FormContainer">
  <h3 class = "PageTitle" >予定の新規追加</h3>

  <%= render "shared/error", obj: @post %>

  <%= form_with model:@post do |f| %>
  <div class = "FormTitle">
    <%= f.label :title,"タイトル" ,class: "title"%>
    <%= f.text_field :title %>
  </div>
  <div class = "FormDays">
    <div class = "FormStartDay">
      <%= f.label :start_day,"開始日" %>
      <%= f.date_field :start_day %>
    </div>
    <div class = "FormEndDay">
      <%= f.label :end_day,"終了日" %>
      <%= f.date_field :end_day %>
    </div>
  </div>
  <div class = "FormAllDay">
    <%= f.check_box :all_day,checked: false%>
    <%= f.label :all_day,"終日の場合はチェックを入れます"%>
  </div>
  <div class = "FormMemo">
    <%= f.label :memo,"スケジュールメモ" %>
    <%= f.text_area :memo %>
  </div>
  <div class = "buttons">
  <a href = "/posts"><button type = "button">キャンセル</button></a>
  <%= f.submit "保存" %>
<% end %>